<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>English</string>
				<string>French</string>
				<string>Portuguese</string>
				<string>Russian</string>
				<string>Spanish</string>
				<string>Ukrainian</string>
				<string>German</string>
			</array>
			<key>Values</key>
			<array>
				<string>en</string>
				<string>fr</string>
				<string>pt</string>
				<string>ru</string>
				<string>es</string>
				<string>uk</string>
				<string>de</string>
			</array>
			<key>Title</key>
			<string>Lesson Language</string>
			<key>Key</key>
			<string>Lesson Language</string>
			<key>DefaultValue</key>
			<string>en</string>
			<key>FooterText</key>
			<string>Warning: Data charges may apply!</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Extra Large</string>
			</array>
			<key>Values</key>
			<array>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>x-large</string>
			</array>
			<key>Title</key>
			<string>Text Size</string>
			<key>Key</key>
			<string>Text Size</string>
			<key>DefaultValue</key>
			<string>small</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Regular</string>
				<string>Night Mode</string>
				<string>Sepia</string>
			</array>
			<key>Values</key>
			<array>
				<string>style_normal.css</string>
				<string>style_dark.css</string>
				<string>style_sepia.css</string>
			</array>
			<key>Title</key>
			<string>Reading Mode</string>
			<key>Key</key>
			<string>Reading Mode</string>
			<key>DefaultValue</key>
			<string>style_normal.css</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://facebook.com/shabbatschool</string>
			<key>File</key>
			<string>https://facebook.com/shabbatschool</string>
			<key>Title</key>
			<string>Facebook Page</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>vitalikl.github.io/ss</string>
			<key>File</key>
			<string>vitalikl.github.io/ss</string>
			<key>Title</key>
			<string>Website</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
