@font-face {
    font-family: "PT Serif";
    font-weight:normal;
    font-style:normal;
    src: url("file:///android_asset/fonts/PTF55F.ttf") format("truetype");
}

body {
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3);
}

.wrapper {
    padding: 10px 15px 20px 15px;
    background: #ffffff;
}

p, table {
    font-family: "PT Serif", serif;
    margin: 15px 0;
    font-size: 13px;
    line-height: 20px;
}

table td, table th {
    border: 1px solid #333;
    padding: 5px;
}

.title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 27px;
}

.sub-title {
    color: #8D8D8D;
    margin: 0 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 19px;
}

.question {
    font-family: "PT Serif", serif;
    margin: 15px 0;
    font-weight: 700;
    margin: 0;
    padding: 5px;
    background-color: #FDFDFD;
    font-size: 13px;
    line-height: 20px;
}

.note + .note {
    margin: 15px 0;
}

.note {
    border: 1px solid #DEE2D0;
    overflow: hidden;
    margin: 0;
}

.note textarea {
    font-size: 13px;
    line-height: 26px;
    font-family: "PT Serif", serif;
    background-color: #F8F5DB;
    background-image: -webkit-linear-gradient(#DEE2D0 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 100% 26px;
    border: 0;
    outline: 0;
    height: 75px;
    display: block;
    width: 100%;
    padding: 0 5px;
    border-radius: 0 !important;
    background-attachment: local;
}

.highlight {
    background-color: yellow;
}

.verse {
    color: #017bff;
    text-decoration: underline;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

button {cursor:pointer !important;}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}