p, .question {
    font-size: 28px;
    line-height: 35px;
}

.title {
    font-size: 35px;
    line-height: 42px;
}

.sub-title {
    font-size: 27px;
    line-height: 34px;
}

.note textarea {
    font-size: 28px;
    line-height: 41px;
    background-size: 100% 41px;
    height: 105px;
}